input[type="radio"]
	display none
			
	&:checked + label span	
		background-position -41px 0	 

.content__htmlacademy
	position relative
	width 770px		
	margin 0 auto
	padding-top 10px		
	
	&__radio
		display inline-block
		margin-left 26px
		padding-top 5px	
		vertical-align middle
		cursor pointer	
		font 22px/36px 'PTSansBold', sans-serif				
		color #2f1b15
		
		& span
			display inline-block
			vertical-align middle
			height 49px
			width 41px   
			background url('../images/input-radio.png') no-repeat
			
		&-activ span
			background-position -41px 0	
		
		&-margin
			margin-left 10px		
		
	&__atribute
		display inline-block
		float left		
		font 22.43px/49.83px 'PTSansBold', sans-serif			
		color #2f1b15
	
		&-padding
			padding-top 0px
			
		& a
			color #014f98		        