.content__slider
	position relative
	padding-top 67px
	width 770px		
	margin 0 auto
	
	&__atribute
		display inline-block	
		font 22.43px/49.83px 'PTSansBold', sans-serif			
		color #2f1b15
		
		&__easy			
			position relative
			display inline-block			
			float left
			padding-top 15px			
			margin-left 13px
			font 13px/36px 'PTSansBold', sans-serif			
			color #2f1b15
				
			&:before
				content ''
				display block
				position absolute
				top 0
				left -7px
				width 21px
				height 26px
				background url('../images/slider-easy.png') no-repeat
				
		&__medium
			position relative
			float left
			margin-left 81px
			padding-top 15px
			font 13px/36px 'PTSansBold', sans-serif			
			color #2f1b15

			&:before
				content ''
				display block
				position absolute
				top 0
				left -7px
				width 20px
				height 11px
				background url('../images/slider-medium.png') no-repeat

		&__hard
			position relative
			float left
			margin-left 81px			
			padding-top 25px			
			font 13px/19px 'PTSansBold', sans-serif			
			color #2f1b15
			
			&:before
				content ''
				display block
				position absolute
				top 0
				left -7px
				width 21px
				height 26px
				background url('../images/slider-medium.png') no-repeat
			
			&-margin
				margin-left 60px
		
		&__expert
			position relative
			float right	
			padding-top 15px
			font 13px/36px 'PTSansBold', sans-serif			
			color #2f1b15
						
			&:before
				content ''
				display block
				position absolute
				top 0
				right -11px
				width 21px
				height 26px
				background url('../images/slider-easy.png') no-repeat
					
#slider
	margin-left 13px
	margin-top 35px


	
