.header__logo
	width 900px
	margin 0 auto	
	padding-top 50px
	
	&__secret
		display inline-block
		float right
		width 252px
		height 106px
		background url('../images/blocks/secret.png') no-repeat
		
	&__csssr
		position relative
		display inline-block
		float left
		width 144px								
				
		& a.header__logo__csssr__image
			position absolute
			top 0
			margin-top 17.5px
			z-index 2		
			width 100%
			height 35px	
			background url('../images/blocks/csssr.png') no-repeat			
			@media 
			only screen and (-webkit-min-device-pixel-ratio: 2),				
			only screen and (min--moz-device-pixel-ratio: 2),
			only screen and (-o-min-device-pixel-ratio: 2/1),
			only screen and (min-device-pixel-ratio: 2),
			only screen and (min-resolution: 192dpi),
			only screen and (min-resolution: 2dppx)
				background-size: 144px 35px;
					
		& p
			position absolute
			top 45.5px
			margin-left 3px
			z-index 1			
			font 10px/33.35px 'PTSansRegular', sans-serif	
			color #2f1b15

.header__delo
	display block
	margin 0 auto
	margin-top 40px
	margin-bottom 60px	
	width 770px
	height 110px	
	background url('../images/blocks/delo.png') no-repeat center center
	text-align center
	