.content__slider.clearfix
	h4.content__slider__atribute Уровень владения JavaScript
	#slider
	p.content__slider__atribute__easy Не владею
	p.content__slider__atribute__medium Использую готовые решения
	p.content__slider__atribute__hard.content__slider__atribute__hard-margin 
		| Использую готовые решения
		br
		| и умею их переделывать
	p.content__slider__atribute__expert Пишу сложные скрипты