.header
	.header__logo.clearfix
		.header__logo__csssr
			a(class='header__logo__csssr__image' href='javascript:void(0);')			
			p Секретный архив учреждения
		.header__logo__secret			
	.header__delo		