mixin checkbox(text, number)
	input(type='checkbox' id=number name='cc')
	label(for=number)
		span
		=text
mixin checkbox-activ(text, number)
	input(type='checkbox' id=number name='cc')
	label(class='content__skils__checkbox-active' for=number)
		span
		=text