include ../helpers/mixins__checkbox

.content
	form(action='anketa.php', method='post')
		.content__data.clearfix
			label.content__data__atribute Полное ФИО
			input(class='content__data__information content__data__information-name'
					type='text' value='Кобец Сергей Валентинович')
		
		.content__data.clearfix
			label.content__data__atribute Год рождения
			input(class='content__data__information content__data__information-year'
					type='text' value=1989)
		.content__data.clearfix
			label.content__data__atribute Место жительства
			input(class='content__data__information content__data__information-residence'
					type='text' value='г. Речица, Беларусь')

		.content__data.clearfix
			label.content__data__atribute Скайп
			input(class='content__data__information content__data__information-skype'
					type='text' value='serzh0805')

		.content__data.clearfix
			label.content__data__atribute Почта
			input(class='content__data__information content__data__information-mail'
					type='text' value='s-kobets617@yandex.ru')

		include content__htmlacademy
		include content__skils
		include content__slider
		include content__data-footer
