.content__htmlacademy.clearfix
	h4.content__htmlacademy__atribute
		| Выпускник 
		a(href='javascript:void(0);') htmlacademy.ru
	input(id='rsecond' type='radio' name='radio')
	label(class='content__htmlacademy__radio' for='rsecond')
		span
		| Да
	input(id='rthird' type='radio' name='radio')
	label(for='rthird' class='content__htmlacademy__radio content__htmlacademy__radio-activ content__htmlacademy__radio-margin')
		span
		| Нет