.content__data
	width 770px
	margin 0 auto
	position relative
	padding-bottom 25px

	&__atribute
		display inline-block
		float left
		padding-top 16px	
		font 22.43px/30.43px 'PTSansBold', sans-serif			
		color #2f1b15
		
	&__information
		float right
		width 577px 
		margin-left 12px
		padding-left 15px
		padding-bottom 8px
		background url('../images/border-bottom-information.png') repeat-x bottom
		font 30px/36px 'Courier New', sans-serif
		font-weight: normal		
		color #231f20
		border none
		
		&-name
			width 630px 

		&-year
			width 617px

		&-skype,
		&-mail
			width 698px

		&-date
			float left
			width 207px
			
	&-footer
		padding-top 50px
		padding-bottom 75px

input[type="text"]
	outline none
